@import '../env-production/molkobain-datacenter-view/common/css/variables.scss';

/* Variables */
$mdv-obj-class-genericcommdevice-bg-color: $mdv-obj-class-networkdevice-bg-color !default;

/* Rules */
.molkobain-datacenter-view {
	.mdv-body {
		.mdv-controls {
			.mdv-legend {
				ul {
					li {
						&[data-class="GenericCommDevice"]::before {
							background-color: $mdv-obj-class-genericcommdevice-bg-color;
						}
					}
				}
			}
		}

		.mdv-device {
			&[data-class="GenericCommDevice"] {
				background-color: $mdv-obj-class-genericcommdevice-bg-color;
			}
		}
	}
}